@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --senai-color-bg-primary: #F8FAFC;
    --senai-color-bg-secondary: #FFFFFF;
    --senai-color-bg-icon: #E2E8F0;

    --senai-color-border: #F1F5F9;


    --senai-color-font-primary: #3F3F46;

    --senai-color-bg-button: #e0e7ff;

    --senai-color-bg-button-primary: #0F172A;
    --senai-color-bg-button-hover: #e9ecef;

    --senai-color-font-button-hover: #4f46e5;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    border: 0;
}

html, body{
    background-color: var(--senai-color-bg-primary);
}

a,a:hover{
    text-decoration: none;
    color: unset;
}

.app-layout {
  position: relative;
}

.main-content-wrapper {
  margin-left: 216px;
  height: 100%;
}

.page-content{
  padding: 35px 50px;
  height: 100%;
}

.main-container{
    width: 100%;
    min-width: 970px;
    margin: 0 auto;
}

.mb-30{
  margin-bottom: 30px;
}

.mt-auto{
  margin-top: auto;
}